body {
  margin: 0;
  font-family: sans-serif;
  width: 100%;
  font-size: 12px;
  box-sizing: border-box;
}
#control-btns {
  margin: 0;
  width: 100%;
  background: #333;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: rows;
  flex-wrap: wrap;
  margin-bottom: 1em;
  position: sticky;
  top: 0;

  box-sizing: border-box;
}
input {
  margin: 0 0.3rem;
}
#control-btns label {
  margin-right: 15px;
}
.container {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#control-btns > label {
  display: inline-flex;
  align-items: center;
}
.content {
  width: 100%;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
#spc-esri {
  background-color: white;
  width: 100%;
}
#spc-esri > embed {
  background-color: white;
  width: 100%;
}

#spc-reports {
  background-color: aliceblue;
  height: 100%;
}
#spc-reports > img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#spc-reports > embed {
  width: 100%;
  height: 700px;
  padding: 10px;
  border: 3px blue double;
  box-sizing: border-box;
}
#spc-rss {
  background-color: aliceblue;
}

.feedItem {
  padding: 0.5rem 0;
}

#spc-rss time {
  font-size: smaller;
  color: graytext;
}

#spc-rss details {
  width: 100%;
  padding: 0.25rem 0;
  border-bottom: 1px solid #ddd;
}
